<ion-header>
  <ion-toolbar>
    <ion-title>Create Survey</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary"  (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed"
           title="Add question" 
           (click)="presentPopover($event)">
    <ion-fab-button mini>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button mini>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" style="    width: 100%;
    right: 15px;">
        <!-- <ion-item *ngFor="item of [1,2,3]"> -->
            <!-- <div style="width:100%;"> -->
          <ion-list>
          <ion-item *ngFor="let questionType of questionTypes" (click)="configureQuestion(questionType)">
              <ion-icon slot="start" size="small" name="sunny"></ion-icon>
              <ion-button>{{questionType.text}}</ion-button>
          </ion-item>
        </ion-list>
      <!-- </div> -->
      <!-- <div style="width:100%;">
        <div (click)="configureQuestion(1)">Text</div>
        <div (click)="configureQuestion(2)">Radio</div>
    </div> -->
    </ion-fab-list>
  </ion-fab>
  <div>
    <ion-list>
      <ion-item>
        <ion-input required
                   type="text"
                   placeholder="Survey title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   placeholder="Survey description"></ion-input>
      </ion-item>
    </ion-list>
    <div>

      
      <ion-list>
        <ion-item *ngFor="let question of questions"
             (click)="activeQuestion=question">
          <ion-item-divider></ion-item-divider>
          <app-question [question]="question"></app-question>
      </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
