<ion-header>
  <ion-toolbar>
    <ion-title>Create Survey</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed"
           title="Add question">
    <ion-fab-button mini
                    (click)="configureQuestion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <div>
      <ion-item>
        <ion-input required
                   type="text"
                   placeholder="Form title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   placeholder="Form description"></ion-input>
      </ion-item>
    </div>
    <div>

      
      <ion-list>
        <div *ngFor="let question of questions"
             (click)="activeQuestion=question">
          <ion-item-divider></ion-item-divider>
          <app-question [question]="question"></app-question>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
