<ion-list>
  <ion-item *ngFor="let choice of question.choices">
    <ion-icon name="radio-button-off"></ion-icon>
    <ion-input type="text"
               value="{{choice}}"></ion-input>
    <ion-button item-right
                fill="clear"
                *ngIf="question.choices.length!==1"
                (click)="removeOption(choice, question.choices)">
      <ion-icon name="close"
                slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="radio-button-off"></ion-icon>
    <ion-input type="text"
               readonly
               role="button"
               (click)="addOption(question.choices)"
               placeholder="Add option"></ion-input>
  </ion-item>
</ion-list>